<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Inventory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #000;
            color: #fff;
        }
        .sidebar {
            background-color: #111;
            padding: 20px;
            height: 100vh;
        }
        .category-button {
            background-color: #222;
            color: #fff;
            border: none;
            margin: 5px 0;
            width: 100%;
            padding: 10px;
            text-align: left;
        }
        .category-button.active {
            background-color: #444;
            font-weight: bold;
        }
        .table th, .table td {
            color: #fff;
        }
        .btn-outline-light {
            border: 1px solid #fff;
            color: #fff;
        }
        .btn-outline-light:hover {
            background-color: #fff;
            color: #000;
        }
        h2{
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--- This loads Bootstrap’s JavaScript functionality (e.g. modals, toasts, dropdowns).-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>



</head>
<body>

<!-- inventory add success message-->
<div th:if="${inventoryAdded == true}" class="alert alert-success">
    Inventory added successfully!
</div>

<!-- inventory update success message-->

<div th:if="${inventoryUpdated == true}" class="alert alert-info">
    Inventory updated successfully!
</div>

<!-- inventory delete success message-->

<div th:if="${inventoryDeleted == true}" class="alert alert-danger">
    Inventory deleted successfully.
</div>


<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 sidebar">
            <a th:href="@{/admin}" class="btn btn-outline-light btn-block mb-4">Back to Dashboard</a>

            <a th:href="@{/admin/inventory/add}" class="btn btn-outline-light btn-block mb-4">Add Inventory</a>



            <div class="d-flex flex-column">
                <a th:href="@{/admin/inventory(category='Television')}"
                   th:classappend="${selectedCategory} == 'Television' ? 'active'"
                   class="category-button">Television</a>
                <a th:href="@{/admin/inventory(category='Washing Machine')}"
                   th:classappend="${selectedCategory} == 'Washing Machine' ? 'active'"
                   class="category-button">Washing Machine</a>
                <a th:href="@{/admin/inventory(category='AC')}"
                   th:classappend="${selectedCategory} == 'AC' ? 'active'"
                   class="category-button">AC</a>
                <a th:href="@{/admin/inventory(category='Geyser')}"
                   th:classappend="${selectedCategory} == 'Geyser' ? 'active'"
                   class="category-button">Geyser</a>
                <a th:href="@{/admin/inventory(category='Refrigerator')}"
                   th:classappend="${selectedCategory} == 'Refrigerator' ? 'active'"
                   class="category-button">Refrigerator</a>
                <a th:href="@{/admin/inventory(category='Water Purifier')}"
                   th:classappend="${selectedCategory} == 'Water Purifier' ? 'active'"
                   class="category-button">Water Purifier</a>
            </div>
        </div>

        <!-- Product List -->
        <div class="col-md-9 mt-4">
            <h2 th:text="'Inventory - ' + ${selectedCategory}">Inventory - Television</h2>
            <table class="table table-dark table-striped mt-3">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Product Code</th>
                    <th>Stock</th>
                    <th>Warehouse</th>
                    <th>Batch Number</th>
                    <th>supplier</th>
                    <th>Received On</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, iterStat : ${inventories}">
                    <td th:text="${iterStat.index + 1}"></td>
                    <td th:text="${item.product.productCode}"></td>
                    <td th:text="${item.stockAvailable}"></td>
                    <td th:text="${item.warehouseLocation}"></td>
                    <td th:text="${item.batchNumber}"></td>
                    <td th:text="${item.supplier}"></td>
                    <td th:text="${item.receivedDate}"></td>
                    <td>

                        <a th:href="@{/admin/inventory/edit/{id}(id=${item.id})}" class="btn btn-warning btn-sm">Update</a>

                        <a th:href="@{/admin/inventory/delete/{id}(id=${item.id})}" class="btn btn-danger btn-sm disabled-btn"  style="pointer-events: auto; opacity: 0.5;cursor: not-allowed" >Delete </a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(inventories)}">
                    <td colspan="5" class="text-center text-muted">No products found in this category.</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Pop up form for inventory add and update-->

<div class="modal fade" id="addInventoryModal" tabindex="-1" role="dialog" aria-labelledby="addInventoryModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content text-white bg-dark">
        <div class="modal-header">
            <h5 class="modal-title" th:text="${updateMode} ? 'Update Inventory' : 'Add New Inventory'">Add New Inventory</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form th:action="${updateMode} ? @{'/admin/inventory/update'} : @{'/admin/inventory/add'}"
              th:object="${inventoryFormDto}" method="post">

            <div class="modal-body">
                <!-- Inventory Details -->
                <div class="form-row">


                    <!-- Add mode: show editable product code -->
                    <div th:if="${updateMode != true}">
                        <div class="form-group col-md-6">
                            <label>Product Code</label>
                            <input type="text" class="form-control" th:field="*{productCode}" required />
                            <div th:if="${#fields.hasErrors('productCode')}" class="text-danger small" th:errors="*{productCode}"></div>
                        </div>
                    </div>

                    <!-- Update mode: show read-only product code -->
                    <div th:if="${updateMode == true}">
                        <div class="form-group col-md-6">
                            <label>Product Code</label>
                            <input type="text" class="form-control" th:field="*{productCode}" readonly />
                        </div>
                    </div>

                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group col-md-6">
                        <label>Stock Available</label>
                        <input type="number" class="form-control" th:field="*{stockAvailable}" required>
                        <div th:if="${#fields.hasErrors('stockAvailable')}" class="text-danger small" th:errors="*{stockAvailable}"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Warehouse Location</label>
                        <input type="text" class="form-control" th:field="*{warehouseLocation}" required>
                        <div th:if="${#fields.hasErrors('warehouseLocation')}" class="text-danger small" th:errors="*{warehouseLocation}"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Batch Number</label>
                        <input type="text" class="form-control" th:field="*{batchNumber}" required>
                        <div th:if="${#fields.hasErrors('batchNumber')}" class="text-danger small" th:errors="*{batchNumber}"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Supplier</label>
                        <input type="text" class="form-control" th:field="*{supplier}" required>
                        <div th:if="${#fields.hasErrors('supplier')}" class="text-danger small" th:errors="*{supplier}"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Received Date</label>
                        <input type="date" class="form-control" th:field="*{receivedDate}" required>
                        <div th:if="${#fields.hasErrors('receivedDate')}" class="text-danger small" th:errors="*{receivedDate}"></div>
                    </div>

                </div>

                <div class="modal-footer bg-dark">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-light" th:text="${updateMode} ? 'Update' : 'Submit'">Submit</button>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- to disappear message-->
<script>

    $(document).ready(function() {

        $(".disabled-btn").on("click", function (e) {
            e.preventDefault(); // Stop link from navigating
            alert("Because of less data of inventories the delete functionality is currently disabled.");
        });
    });

    setTimeout(function() {
        const successAlert = document.querySelector('.alert-success');
        const dangerAlert = document.querySelector('.alert-danger');
        const updateAlert = document.querySelector('.alert-info');
        if (successAlert) successAlert.style.display = 'none';
        if (dangerAlert) dangerAlert.style.display = 'none';
        if (updateAlert) updateAlert.style.display = 'none';
    }, 2000); // 2000 milliseconds = 2 seconds
</script>
<!-- if there are errors in add product form then from controller we are sending errors with model.addAttribute("showModal", true); so the model form should be open as it is-->

<script th:inline="javascript">
    /*<![CDATA[*/
    const shouldShowModal = [[${showModal}]];
    if (shouldShowModal) {
        $('#addInventoryModal').modal('show');
    }
    /*]]>*/
</script>


</body>
</html>